.main {
  display: flex;
  /* max-width: 1440px; */
  color: rgba(0, 0, 0, 0.87);
  margin: "0 auto";
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.expansion-text {
  transition: 0.3s ease-in-out height;
}